doctype html
html
	head
		title #{title}
		link(rel='stylesheet', href='/public/style.css')
	body
		header
			h1 Welcome!
		.container
			block content
		.sidebar
			block sidebar
		footer
			p Copyright Dave 2024

		script(type='text/javascript', src='/public/app.js')
